.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
  border: 1px solid #01010154;
}
.link__tnLze {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-_MYzr2rVjpMD);
  font-size: 24px;
  font-weight: 700;
  padding-right: 0px;
  margin-right: 0px;
}
.root .link__tnLze:hover {
  color: var(--token-hZ4JHyh4Z3Bk);
}
.img__kMtd {
  object-fit: cover;
}
.img__kMtd > picture > img {
  object-fit: cover;
}
.img__sLxYv {
  object-fit: cover;
}
.img__sLxYv > picture > img {
  object-fit: cover;
}
.link__jJuu {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__jJuu:hover {
  color: var(--token-hZ4JHyh4Z3Bk);
}
.link__bwwde {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__bwwde:hover {
  color: var(--token-hZ4JHyh4Z3Bk);
}
.link__u8Roq {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__u8Roq:hover {
  color: var(--token-hZ4JHyh4Z3Bk);
}
.link__oqCm {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__oqCm:hover {
  color: var(--token-hZ4JHyh4Z3Bk);
}
